  * {
      background-color: #85D400;
      animation:changecolor 20s infinite;;
      font-family:bilo, sans-serif;
      font-style: normal;
      font-weight: 400;
      scroll-behavior: smooth;
      /*cursor:url('cursor.svg'),url('cursor.png'),crosshair;*/
   cursor:none;
      color: #000000;
  }
.cursor {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}
@keyframes changecolor{

 0%{background-color: #85D400;}
 25%{background-color: #FFEC2A;}
 50%{background-color: #5700D4;}
 75%{background-color: #E9005E;}
 99%{background-color:  #85D400;}




}
#xer{position:absolute;
  left:0px;
 top:0px;
 background:transparent;
  z-index:999;
 width: 0px;
  border-right: solid 1px white;
  height: 100vw;
   transition: width 0.1s;
  }
#yer{position:absolute;
 left:0px;
 top:0px;
 background:transparent;
  z-index:999;
 width: 100vw;
  border-bottom: solid 1px white;
  height: 0px;
    transition: height 0.1s;
  }
  
  a,
  a:link,
  a:visited {
      color: inherit;
      background-color:transparent;
      text-decoration: none;
  }
  
  a:hover {
      /*color: chartreuse;*/
      background-color: transparent;
      text-decoration: underline;
  }
  
  h1 {
      font-size: 12vh;
      font-weight: 10;
      font-stretch: expanded;
      letter-spacing: 0.03vh;
      background-color: transparent;
  }

lk{font-size: 8vh;}
  
