  * {
      font-family:bilo, sans-serif;
      font-style: normal;
      font-weight: 400;
      scroll-behavior: smooth;
      /*cursor:url('cursor.svg'),url('cursor.png'),crosshair;*/
   cursor:none;
      color: #000000;
  }
body{ background-color: #85D400;
      animation:changecolor 20s infinite;}
.thecolumn{
 background:transparent;
 float:left;
margin-right:1.5%;
  backface-visibility: hidden;}

@keyframes changecolor{

 0%{background-color: #85D400;}
 25%{background-color: #FFEC2A;}
 50%{background-color: #5700D4;}
 75%{background-color: #E9005E;}
 99%{background-color:  #85D400;}




}

  a,
  a:link,
  a:visited {
      color: inherit;
      background-color:transparent;
      text-decoration: none;
  }
  
  a:hover {
      /*color: chartreuse;*/
      background-color: transparent;
      text-decoration: underline;
  }
  
  h1 {
      font-size: 12vh;
      font-weight: 10;
      font-stretch: expanded;
      letter-spacing: 0.03vh;
      background-color: transparent;
  }

lk{font-size: 8vh;
 background-color: transparent;}

#cursor{
display:block;
 top:0px;
 left:0px;
position:absolute;
/* margin-top:-18px;
margin-left:-18px; */
width:36px;
height:36px;
border-radius:60px;
/*   isolation: isolate;  */
background-color:white;
mix-blend-mode:exclusion;
z-index:9999;
animation:none;}
  
